@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
}

.page {
  width: 100vw;
  min-height: 100vh;
}

.splash {
  opacity: 1;
  animation: moveUp 3s; /* Default for larger screens */
  animation-fill-mode: forwards;
  position: absolute;
  transform: translateY(0); /* Initial position */
}

@keyframes moveUp {
  from {
    transform: translateY(0); /* Start at its current position */
  }
  to {
    transform: translateY(-100vh); /* Move up by 100px, adjust as needed */
  }
}

/* For mobile devices, adjust the animation duration to 3 seconds */
@media (max-width: 768px) {
  .splash {
    opacity: 1;
    animation: moveUp 2s; /* Default for larger screens */
    animation-fill-mode: forwards;
    position: absolute;
    transform: translateY(0); /* Initial position */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
}

.key-1 {
  transform: rotate(-4deg); /* Rotate 4 degrees */
  margin-top: 100px;
}

.key-2 {
  transform: rotate(0deg); /* No rotation or some other transformation */
}

.key-3 {
  transform: rotate(4deg); /* Rotate -4 degrees */
  margin-top: 100px;
}

.swiper {
  width: 100%;
  height: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
#background-popup {
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 80;
  position: fixed;
  opacity: 0.5;
}

div#popup {
  background-color: white;
  z-index: 99;
  position: fixed;
  width: 340px !important;
  padding: 8px 0;
  margin: 0 auto;
  display: flex;
  top: calc(50% - 320px / 2);
  left: calc(50% - 320px / 2);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 4px #c2c9d1;
}

div#popup .view-modal,
div#popup .popup {
  position: absolute;
  left: 50%;
}

div#popup button {
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear,
    color 0.1s linear;
}

div#popup .content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: justify;
  gap: 5px;
}

div#popup .view-modal {
  top: 50%;
  color: #7d2ae8;
  font-size: 18px;
  padding: 10px 25px;
  background: #fff;
  transform: translate(-50%, -50%);
}

div#popup .popup {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}

div#popup .popup.show {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}

div#popup .popup :is(header, .icons, .field) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div#popup .popup header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}

div#popup header span {
  font-size: 21px;
  font-weight: 600;
}

div#popup header .close,
div#popup .icons a {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

div#popup header .close {
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

div#popup header .close:hover {
  background: #ebedf9;
}

div#popup .popup .content {
  margin: 20px 0;
}

div#popup .popup .icons {
  margin: 15px 0 20px 0;
}

div#popup .content p {
  font-size: 16px;
}

div#popup .content .icons li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 25px;
}

div#popup .icons li i {
  transition: transform 0.3s ease-in-out;
}

div#popup .icons li:nth-child(1) {
  color: #1877f2;
  border-color: #b7d4fb;
}

div#popup .icons li:nth-child(1):hover {
  background: #1877f2;
}

div#popup .icons li:nth-child(2) {
  color: #46c1f6;
  border-color: #b6e7fc;
}

div#popup .icons li:nth-child(2):hover {
  background: #46c1f6;
}

div#popup .icons li:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
}

div#popup .icons li:nth-child(3):hover {
  background: #e1306c;
}

div#popup .icons li:nth-child(4) {
  color: #25d366;
  border-color: #bef4d2;
}

div#popup .icons li:nth-child(4):hover {
  background: #25d366;
}

div#popup .icons li:nth-child(5) {
  color: #0088cc;
  border-color: #b3e6ff;
}

div#popup .icons li:nth-child(5):hover {
  background: #0088cc;
}

div#popup .icons li:hover {
  color: #fff;
  border-color: transparent;
}

div#popup .icons li:hover i {
  transform: scale(1.2);
}

div#popup .content .field {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}

div#popup .field.active {
  border-color: #7d2ae8;
}

div#popup .field i {
  width: 50px;
  font-size: 18px;
  text-align: center;
}

div#popup .field.active i {
  color: #7d2ae8;
}

div#popup .field input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

div#popup button {
  color: #fff;
  padding: 5px 18px;
  background: #ff695b;
  margin: 10px auto;
  width: 100%;
}

div#popup button:hover {
  background: #ff695b;
}
